<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for picture in pictures %}
        
               <li>
                  {{ picture }}
                  <img src="{{ picture.url }}">
               </li>
            <p>Comments: {{ picture.no_comments }}</p>
        {% endfor %}
       </ul>
  
</body>
</html>